<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <header class="header">
      <a href="/" class="logo">
        <p>UIViews</p>
      </a>
      <nav class="nav list-clear">
        <ul>
          <li class="nav--item"><a href="/articles">Articles</a></li>
          <li class="nav--item"><a class="active" href="/resources">Resources</a></li>
          <li class="nav--item"><a href="/contributors">Contributors</a></li>
          <li class="nav--item"><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
